@import url("__container/page__container.css");

.page {
  /*max-width: 1200px;*/
  width: 100%;
  min-width: 300px;
  min-height: 100vh;
  margin: 0 auto;
  background: #000;
  font-family: "Inter, Arial, sans-serif";
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
