.card__trash {
  display: block;
  border: none;
  position: absolute;
  top: 18px;
  right: 15px;
  background: url(../../../images/Trash.svg) center no-repeat
    rgba(255, 255, 255, 0);
  height: 18px;
  width: 19.3px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.card__trash:hover {
  opacity: 0.6;
}
