.popup__input {
  max-width: 358px;
  width: 100%;
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border-style: none none solid;
  border-bottom: 1px solid #f1f1f1;
  box-sizing: border-box;
  padding: 0 0 13px;
  margin: 0;
}

@media screen and (max-width: 520px) {
  .popup__input {
    max-width: 200px;
    font-size: 12px;
    line-height: 15px;
    padding: 0 0 12px;
  }
}
